/* @format */
@import url('https://fonts.cdnfonts.com/css/lvdc-game-over');

html,
body,
#game {
    height: 100%;
    margin-top: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#game {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #canvas {
    background-color: red;
} */

canvas {
    border: 2px solid gray;
    opacity: 100%;
}

.TRscore {
    color: #000000b3;
    font-size: 11px;
    font-family: 'LVDC Game Over 2', sans-serif;
    position: absolute;
    top: 2.5%;
    right: 2.5%;
}

#game-over {
    position: absolute;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'LVDC Game Over 2', sans-serif;
    opacity: 0%;
}

#game-over>h2 {
    color: black;
    font-size: 24px;
}

#game-over>p {
    color: #000000b3;
    font-size: 15px;
}

.over>#game-over {
    transition: opacity 3s;
    opacity: 100%;
}

.over>#canvas {
    transition: opacity 3s;
    opacity: 50%;
}

.options {
    display: inline-block;
    vertical-align: top;
}

img {
    padding: 5px;
    user-select: none;
}

.left,
.right {
    flex: 1;
    position: relative;
    height: 95%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

input:invalid {
    border-color: red;
    background-color: rgb(255, 99, 71, 0.5);
}