<!-- @format -->

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Tetris - admin</title>
        <link rel="icon" href="https://cdn.glitch.global/a2328394-6a2f-46f0-9a34-e8b074480846/favicon.ico?v=1699797335084" type="image/x-icon" />
    </head>

    <body>
        <h2>
            scores:
        </h2>
        <ol id="scores">
            {{#each scores}}
                <li><b>{{this.username}}</b>: {{this.highscore}} <button data-user="{{this.username}}">x</button></li>
            {{/each}}
        </ol>
        <form action="/admin?addUser" method="post">
            <label for="username">username:</label>
            <input id="username" name="username" />
            <label for="score">new score:</label>
            <input id="score" name="score" />
            <button type="submit">add</button>
        </form>

        <script>
            window.onload = () => { document.querySelector("#scores").addEventListener("click", (e) => { if (e.target.dataset.user) {
            fetch(`${window.location.origin}/admin?remove`, { method: "POST", body: JSON.stringify({ user: e.target.dataset.user, }), headers: {
            "Content-type": "application/json; charset=UTF-8" } }) .then((response) => response.json()) .then((data) => data.reload ?
            location.reload() : 0); } }); }
        </script>
    </body>
</html>