@import url("https://fonts.cdnfonts.com/css/lvdc-game-over");

html,
body,
#game {
    height: 100%;
    margin-top: 0;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%); */
}

#game {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: white;
    border: 2px solid lightgrey;
    opacity: 100%;
    border-radius: 7px;
}

.TRscore {
    color: grey;
    font-size: 10px;
    font-family: "LVDC Game Over 2", sans-serif;
    position: absolute;
    top: 2.5%;
    right: 0;
    margin: 12px;
}

.start-end {
    position: absolute;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start {
    z-index: 2;
    position: absolute;
    opacity: 1;
}

#game-over {
    opacity: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "LVDC Game Over 2", sans-serif;
}

#game-over>h2 {
    color: black;
    font-size: 24px;
}

#game-over>p {
    color: #000000b3;
    font-size: 15px;
}

.over #game-over {
    transition: opacity 3s;
    opacity: 100%;
}

.over #canvas {
    transition: opacity 3s;
    opacity: 50%;
}

.options {
    display: inline-block;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s;
    align-items: center;
}

img {
    padding: 5px;
    user-select: none;
}

.left,
.right {
    flex: 1;
    position: relative;
    height: 95%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.personal {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

input:invalid {
    border-color: red;
    background-color: rgb(255, 99, 71, 0.5);
}

#nextBlock {
    position: absolute;
    top: 2.5%;
    left: 100%;
}

.icons {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.icons svg {
    width: 25px;
    height: 25px;
    margin: 15px;
    fill: #6b6b6b;
    transition: fill 1s;
}

svg>path {
    pointer-events: none;
}

.icons svg:hover {
    fill: black;
}

.icons>.bottom {
    bottom: 0;
    position: absolute;
}