/* SETUP */
:root {
    /*todo let them choose different black background shades*/
    /*primaryDark: #1d1d1d, #121317 */
    --colorGradientStart: rgb(93.725% 22.353% 13.725%);
    --colorGradientEnd: rgb(64.052% 0% 0%);
    --stroke: rgb(155, 30, 15);

    --primaryDark: #1d1d1d;
    --secondaryDark: ghostwhite;
    --teriaryDark: rgb(193 205 221);
    --borderDark: #38393c;

    --error: #FFAAA5;
}

/* DARK COLORS */
.dark .main_layout,
.dark .dropdown-options {
    background-color: var(--primaryDark);
}

.dark h2,
.dark p {
    color: var(--secondaryDark);
}

.dark .startText,
.dark .scores ol li,
.dark .rang li {
    color: var(--teriaryDark);
}

.dark input.rang {
    background-color: var(--teriaryDark);
    border: 1px solid var(--secondaryDark);
}

.dark .left>div,
.dark .right>div,
.dark .game {
    border: 1px solid var(--borderDark);
}

.dark .close_shoutout,
.dark .close_shoutout svg {
    background-color: var(--darkBackground);
}

/* CONTENT */

.dark .canvas_wrapper>canvas {
    border: 1px solid rgb(211 211 211 / 24%);
    box-shadow: rgba(100, 100, 111, 0.05) 0px 7px 8px 0px;
}


.dark input.rang:invalid {
    border-color: #FF8B94;
    background-color: #FFAAA5;
}

.dark .settingIcon,
.dark .settingIcon2 {
    transition: fill 1s, opacity 1s, filter 1s;
}

.dark .hover:hover,
.dark #toggleDropDown:hover .dropIcon,
.dark #close_shoutout:hover path {
    filter: brightness(200%);
}

.dark div.color_options {
    background-color: var(--darkBackground);
    border: 3px solid var(--borderDark);
}

.dark div.left_colors {
    border-right: 1px solid var(--borderDark);
}

.dark .colors>div:hover,
.dark .selected_color {
    background-color: var(--borderDark);
}